.page {
	position: relative;
	width: 100vw;
	height: 114.8vw;
	overflow: hidden;
}

.block_1 {
	width: 99.95vw;
	height: 114.8vw;
	background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/psev5e27y64wy3iw0weidfq6ypybcc01xbd97c1f44-973c-4386-b4c0-953502083898) -0.06vw
		0vw no-repeat;
	background-size: 100vw 114.79vw;
	margin-left: 0.06vw;
}

.block_2 {
	background-color: rgba(16, 14, 14, 1);
	width: 100vw;
	height: 2.09vw;
	justify-content: flex-center;
}

.thumbnail_1 {
	width: 0.63vw;
	height: 0.89vw;
	margin: 0.62vw 0 0 19.32vw;
}

.text_1 {
	width: 35.11vw;
	height: 0.63vw;
	overflow-wrap: break-word;
	color: rgba(255, 255, 255, 1);
	font-size: 0.62vw;
	font-family: PingFang-SC-Bold;
	font-weight: 700;
	text-align: left;
	white-space: nowrap;
	line-height: 0.63vw;
	margin: 0.83vw 0 0 0.26vw;
}

.thumbnail_2 {
	width: 0.84vw;
	height: 0.84vw;
	margin: 0.67vw 0 0 17.81vw;
}

.text_2 {
	width: 6.2vw;
	height: 0.53vw;
	overflow-wrap: break-word;
	color: rgba(255, 255, 255, 1);
	font-size: 0.62vw;
	font-family: PingFang-SC-Bold;
	font-weight: 700;
	text-align: left;
	white-space: nowrap;
	line-height: 0.63vw;
	margin: 0.78vw 19.37vw 0 0.46vw;
}

.block_3 {
	position: relative;
	width: 99.95vw;
	height: 93.49vw;
}

.box_1 {
	width: 15.11vw;
	height: 1.31vw;
	margin: 36.09vw 0 0 18.75vw;
}

.box_2 {
	background-color: rgba(241, 0, 6, 1);
	width: 4.59vw;
	height: 0.21vw;
	margin-top: 1.93vw;
}

.text_3 {
	width: 9.64vw;
	height: 1.31vw;
	overflow-wrap: break-word;
	color: rgba(0, 0, 0, 1);
	font-size: 1.87vw;
	font-family: TimesNewRomanPS-BoldMT;
	font-weight: 700;
	text-align: left;
	white-space: nowrap;
	line-height: 4.22vw;
}

.box_3 {
	width: 62.4vw;
	height: 8.44vw;
	margin: 5.52vw 0 0 18.75vw;
}

.text-wrapper_1 {
	height: 8.44vw;
	background: url("../assets/6/_DSF3879 拷贝.png") 100% no-repeat;
	background-size: 100% 100%;
	width: 16.46vw;
	justify-content: center;
	align-items: center;
}

.paragraph_1 {
	/* width: 10.47vw;
	height: 2.77vw; */
	overflow-wrap: break-word;
	color: rgba(255, 255, 255, 1);
	font-size: 1.25vw;
	font-family: TimesNewRomanPS-BoldMT;
	font-weight: 700;
	text-align: center;
	line-height: 1.83vw;
	/* margin: 2.65vw 0 0 2.91vw; */
	display: block;
}

.box_4 {
	width: 41.05vw;
	height: 5.68vw;
	margin-top: 1.15vw;
}

.text_4 {
	width: 10.11vw;
	height: 1.94vw;
	overflow-wrap: break-word;
	color: rgba(128, 128, 128, 1);
	font-size: 1.25vw;
	font-family: TimesNewRomanPSMT;
	font-weight: normal;
	text-align: left;
	white-space: nowrap;
	line-height: 4.22vw;
}

.block_4 {
	background-color: rgba(209, 209, 209, 1);
	width: 41.05vw;
	height: 0.06vw;
	margin-top: 1.67vw;
}

.text-wrapper_2 {
	width: 40.63vw;
	height: 1.15vw;
	/* margin: 1.87vw 0 0 0.15vw; */
}

.text_5 {
	width: 29.54vw;
	height: 1.15vw;
	overflow-wrap: break-word;
	color: rgba(0, 0, 0, 1);
	font-size: 1.25vw;
	font-family: TimesNewRomanPSMT;
	font-weight: normal;
	text-align: left;
	white-space: nowrap;
	line-height: 4.22vw;
}

.text_6 {
	width: 4.95vw;
	height: 0.89vw;
	overflow-wrap: break-word;
	color: rgba(0, 0, 0, 1);
	font-size: 1.25vw;
	font-family: TimesNewRomanPSMT;
	font-weight: normal;
	text-align: left;
	white-space: nowrap;
	line-height: 4.22vw;
}

.box_5 {
	width: 62.4vw;
	height: 8.44vw;
	margin: 2.91vw 0 0 18.75vw;
}

.text-wrapper_3 {
	height: 8.44vw;
	background: url("../assets/6/AOB07724 拷贝.png") 100% no-repeat;
	background-size: 100% 100%;
	width: 16.46vw;
	justify-content: center;
	align-items: center;
}

.paragraph_2 {
	width: 9.28vw;
	height: 2.92vw;
	overflow-wrap: break-word;
	color: rgba(255, 255, 255, 1);
	font-size: 1.25vw;
	font-family: TimesNewRomanPS-BoldMT;
	font-weight: 700;
	text-align: center;
	line-height: 2.04vw;
	/* margin: 2.76vw 0 0 3.48vw; */
	display: block;
}

.box_6 {
	width: 41.05vw;
	height: 5.68vw;
	margin-top: 1.1vw;
}

.text_7 {
	width: 10.11vw;
	height: 1.94vw;
	overflow-wrap: break-word;
	color: rgba(128, 128, 128, 1);
	font-size: 1.25vw;
	font-family: TimesNewRomanPSMT;
	font-weight: normal;
	text-align: left;
	white-space: nowrap;
	line-height: 4.22vw;
}

.section_1 {
	background-color: rgba(209, 209, 209, 1);
	width: 41.05vw;
	height: 0.06vw;
	margin-top: 1.67vw;
}

.text-wrapper_4 {
	width: 40.63vw;
	height: 1.15vw;
	/* margin: 1.87vw 0 0 0.15vw; */
}

.text_8 {
	width: 23.49vw;
	height: 1.15vw;
	overflow-wrap: break-word;
	color: rgba(0, 0, 0, 1);
	font-size: 1.25vw;
	font-family: TimesNewRomanPSMT;
	font-weight: normal;
	text-align: left;
	white-space: nowrap;
	line-height: 4.22vw;
}

.text_9 {
	width: 4.95vw;
	height: 0.89vw;
	overflow-wrap: break-word;
	color: rgba(0, 0, 0, 1);
	font-size: 1.25vw;
	font-family: TimesNewRomanPSMT;
	font-weight: normal;
	text-align: left;
	white-space: nowrap;
	line-height: 4.22vw;
}

.box_7 {
	width: 62.4vw;
	height: 8.44vw;
	margin: 3.07vw 0 0 18.75vw;
}

.text-wrapper_5 {
	height: 8.44vw;
	background: url("../assets/6/DSC01916 拷贝.png") 100% no-repeat;
	background-size: 100% 100%;
	width: 16.46vw;
	justify-content: center;
	align-items: center;
}

.paragraph_3 {
	/* width: 10.53vw;
	height: 2.92vw; */
	overflow-wrap: break-word;
	color: rgba(255, 255, 255, 1);
	font-size: 1.25vw;
	font-family: TimesNewRomanPS-BoldMT;
	font-weight: 700;
	text-align: center;
	line-height: 2.04vw;
	/* margin: 2.13vw 0 0 2.91vw; */
	display: block;
}

.block_5 {
	width: 41.05vw;
	height: 5.58vw;
	margin-top: 1.31vw;
}

.text_10 {
	width: 10.11vw;
	height: 1.94vw;
	overflow-wrap: break-word;
	color: rgba(128, 128, 128, 1);
	font-size: 1.25vw;
	font-family: TimesNewRomanPSMT;
	font-weight: normal;
	text-align: left;
	white-space: nowrap;
	line-height: 4.22vw;
}

.box_8 {
	background-color: rgba(209, 209, 209, 1);
	width: 41.05vw;
	height: 0.06vw;
	margin-top: 1.67vw;
}

.text-wrapper_6 {
	width: 40.63vw;
	height: 1.15vw;
	/* margin: 1.77vw 0 0 0.15vw; */
}

.text_11 {
	width: 27.87vw;
	height: 1.15vw;
	overflow-wrap: break-word;
	color: rgba(0, 0, 0, 1);
	font-size: 1.25vw;
	font-family: TimesNewRomanPSMT;
	font-weight: normal;
	text-align: left;
	white-space: nowrap;
	line-height: 4.22vw;
}

.text_12 {
	width: 4.95vw;
	height: 0.89vw;
	overflow-wrap: break-word;
	color: rgba(0, 0, 0, 1);
	font-size: 1.25vw;
	font-family: TimesNewRomanPSMT;
	font-weight: normal;
	text-align: left;
	white-space: nowrap;
	line-height: 4.22vw;
	margin-top: 0.11vw;
}

.box_9 {
	width: 62.4vw;
	height: 8.44vw;
	margin: 3.02vw 0 7.81vw 18.69vw;
}

.text-wrapper_7 {
	height: 8.44vw;
	background: url("../assets/6/20348574 拷贝.png") 100% no-repeat;
	background-size: 100% 100%;
	width: 16.46vw;
	justify-content: center;
	align-items: center;
}

.paragraph_4 {
	/* width: 12.3vw;
	height: 4.64vw; */
	overflow-wrap: break-word;
	color: rgba(255, 255, 255, 1);
	font-size: 1.25vw;
	font-family: TimesNewRomanPS-BoldMT;
	font-weight: 700;
	text-align: center;
	line-height: 1.83vw;
	/* margin: 1.77vw 0 0 2.08vw; */
	display: block;
}

.group_1 {
	width: 41.05vw;
	height: 7.45vw;
	margin-top: 0.79vw;
}

.text_13 {
	width: 10.11vw;
	height: 1.94vw;
	overflow-wrap: break-word;
	color: rgba(128, 128, 128, 1);
	font-size: 1.25vw;
	font-family: TimesNewRomanPSMT;
	font-weight: normal;
	text-align: left;
	white-space: nowrap;
	line-height: 4.22vw;
}

.box_10 {
	background-color: rgba(209, 209, 209, 1);
	width: 41.05vw;
	height: 0.06vw;
	margin-top: 1.67vw;
}

.text-wrapper_8 {
	width: 40.73vw;
	height: 3.23vw;
	/* margin: 1.56vw 0 0 0.05vw; */
}

.paragraph_5 {
	width: 29.54vw;
	height: 3.23vw;
	overflow-wrap: break-word;
	color: rgba(0, 0, 0, 1);
	font-size: 1.25vw;
	font-family: TimesNewRomanPSMT;
	font-weight: normal;
	text-align: left;
	line-height: 2.09vw;
}

.text_14 {
	width: 4.95vw;
	height: 0.89vw;
	overflow-wrap: break-word;
	color: rgba(0, 0, 0, 1);
	font-size: 1.25vw;
	font-family: TimesNewRomanPSMT;
	font-weight: normal;
	text-align: left;
	white-space: nowrap;
	line-height: 4.22vw;
	margin-top: 0.32vw;
}

.box_11 {
	height: 26.36vw;
	background: url("../assets/6/u=4133983431,474998164&fm=253&app=138&f=JPEG 拷贝 3.png")
		100% no-repeat;
	background-size: 100% 100%;
	width: 100vw;
	position: absolute;
	left: -0.05vw;
	top: 3.6vw;
}

.group_2 {
	width: 8.29vw;
	height: 4.64vw;
	margin: 0.05vw 0 0 65.15vw;
}

.box_12 {
	background-color: rgba(255, 255, 255, 1);
	position: relative;
	width: 8.29vw;
	height: 4.64vw;
	justify-content: flex-center;
}

.text_15 {
	width: 6.25vw;
	height: 0.63vw;
	overflow-wrap: break-word;
	color: rgba(16, 14, 14, 1);
	font-size: 0.83vw;
	font-family: TimesNewRomanPSMT;
	font-weight: normal;
	text-align: left;
	white-space: nowrap;
	line-height: 4.22vw;
	margin: 0.88vw 0 0 1.04vw;
}

.text_16 {
	width: 4.02vw;
	height: 0.63vw;
	overflow-wrap: break-word;
	color: rgba(236, 52, 52, 1);
	font-size: 0.83vw;
	font-family: TimesNewRomanPSMT;
	font-weight: normal;
	text-align: left;
	white-space: nowrap;
	line-height: 4.22vw;
	margin: 1.61vw 0 0.88vw 2.03vw;
}

.box_13 {
	background-color: rgba(236, 52, 52, 1);
	position: absolute;
	left: 0;
	top: -0.05vw;
	width: 8.29vw;
	height: 0.11vw;
}

.text-wrapper_9 {
	width: 24.02vw;
	height: 2.19vw;
	margin: 6.61vw 0 0 38.48vw;
}

.text_17 {
	width: 24.02vw;
	height: 2.19vw;
	overflow-wrap: break-word;
	color: rgba(255, 255, 255, 1);
	font-size: 3.07vw;
	font-family: TimesNewRomanPS-BoldMT;
	font-weight: 700;
	text-align: left;
	white-space: nowrap;
	line-height: 4.17vw;
}

.group_3 {
	width: 6.46vw;
	height: 0.42vw;
	margin: 2.18vw 0 10.26vw 46.66vw;
}

.group_4 {
	background-color: rgba(241, 0, 6, 1);
	width: 6.46vw;
	height: 0.42vw;
}

.box_14 {
	background-color: rgba(255, 255, 255, 1);
	position: absolute;
	left: -0.05vw;
	top: -0.05vw;
	width: 100vw;
	height: 3.65vw;
	justify-content: flex-center;
}

.image_1 {
	width: 6.05vw;
	height: 1.93vw;
	margin: 0.93vw 0 0 18.75vw;
}

.box_15 {
	background-color: rgba(194, 191, 190, 1);
	width: 0.11vw;
	height: 1.67vw;
	margin: 1.04vw 0 0 0.93vw;
}

.text_18 {
	width: 11.05vw;
	height: 0.79vw;
	overflow-wrap: break-word;
	color: rgba(129, 131, 144, 1);
	font-size: 0.83vw;
	font-family: TimesNewRomanPS-BoldMT;
	font-weight: 700;
	text-align: left;
	white-space: nowrap;
	line-height: 0.84vw;
	margin: 1.61vw 0 0 0.62vw;
}

.text-wrapper_10 {
	width: 27.24vw;
	height: 0.58vw;
	overflow-wrap: break-word;
	font-size: 0;
	font-family: TimesNewRomanPS-BoldMT;
	font-weight: 700;
	text-align: center;
	white-space: nowrap;
	line-height: 1.05vw;
	margin: 1.61vw 18.85vw 0 16.4vw;
}

.text_19 {
	width: 27.24vw;
	height: 0.58vw;
	overflow-wrap: break-word;
	color: rgba(16, 14, 14, 1);
	font-size: 0.72vw;
	font-family: TimesNewRomanPS-BoldMT;
	font-weight: 700;
	text-align: left;
	white-space: nowrap;
	line-height: 1.05vw;
	padding-right: 2vw;
}

.text_20 {
	width: 27.24vw;
	height: 0.58vw;
	overflow-wrap: break-word;
	color: rgba(31, 36, 55, 1);
	font-size: 0.72vw;
	font-family: TimesNewRomanPS-BoldMT;
	font-weight: 700;
	text-align: left;
	white-space: nowrap;
	line-height: 1.05vw;
}

.text_21 {
	width: 27.24vw;
	height: 0.58vw;
	overflow-wrap: break-word;
	color: rgba(16, 14, 14, 1);
	font-size: 0.72vw;
	font-family: TimesNewRomanPS-BoldMT;
	font-weight: 700;
	text-align: left;
	white-space: nowrap;
	line-height: 1.05vw;
}

.text_22 {
	width: 27.24vw;
	height: 0.58vw;
	overflow-wrap: break-word;
	color: rgba(16, 14, 14, 1);
	font-size: 0.72vw;
	font-family: TimesNewRomanPS-BoldMT;
	font-weight: 700;
	text-align: left;
	white-space: nowrap;
	line-height: 1.05vw;
	padding-right: 2vw;
}

.text_23 {
	width: 27.24vw;
	height: 0.58vw;
	overflow-wrap: break-word;
	color: rgba(31, 36, 55, 1);
	font-size: 0.72vw;
	font-family: TimesNewRomanPS-BoldMT;
	font-weight: 700;
	text-align: left;
	white-space: nowrap;
	line-height: 1.05vw;
}

.text_24 {
	width: 27.24vw;
	height: 0.58vw;
	overflow-wrap: break-word;
	color: rgba(236, 52, 52, 1);
	font-size: 0.72vw;
	font-family: TimesNewRomanPS-BoldMT;
	font-weight: 700;
	text-align: left;
	white-space: nowrap;
	line-height: 1.05vw;
	padding-right: 2vw;
}

.text_25 {
	width: 27.24vw;
	height: 0.58vw;
	overflow-wrap: break-word;
	color: rgba(236, 52, 52, 1);
	font-size: 0.72vw;
	font-family: TimesNewRomanPS-BoldMT;
	font-weight: 700;
	text-align: left;
	white-space: nowrap;
	line-height: 1.05vw;
}

.text_26 {
	width: 27.24vw;
	height: 0.58vw;
	overflow-wrap: break-word;
	color: rgba(31, 36, 55, 1);
	font-size: 0.72vw;
	font-family: TimesNewRomanPS-BoldMT;
	font-weight: 700;
	text-align: left;
	white-space: nowrap;
	line-height: 1.05vw;
}

.text_27 {
	width: 27.24vw;
	height: 0.58vw;
	overflow-wrap: break-word;
	color: rgba(31, 36, 55, 1);
	font-size: 0.72vw;
	font-family: TimesNewRomanPS-BoldMT;
	font-weight: 700;
	text-align: left;
	white-space: nowrap;
	line-height: 1.05vw;
}

.block_6 {
	background-color: rgba(16, 14, 14, 1);
	height: 19.28vw;
	width: 100vw;
	margin: -0.05vw 0 0 -0.05vw;
}

.section_2 {
	width: 56.78vw;
	height: 7.14vw;
	margin: 4.58vw 0 0 19.63vw;
}

.image-wrapper_1 {
	width: 8.18vw;
	height: 2.56vw;
	background: url("../assets/6/图层 4.png") 100% no-repeat;
	background-size: 100% 100%;
	margin-top: 2.77vw;
}

.thumbnail_3 {
	width: 0.84vw;
	height: 0.68vw;
	margin: 1.14vw 0 0 2.6vw;
}

.thumbnail_4 {
	width: 0.84vw;
	height: 0.79vw;
	margin: 1.04vw 0.67vw 0 3.22vw;
}

.box_16 {
	width: 18.86vw;
	height: 5.63vw;
	margin: 1.4vw 0 0 2.08vw;
}

.text-wrapper_11 {
	width: 8.29vw;
	height: 1.15vw;
	overflow-wrap: break-word;
	font-size: 0;
	font-family: TimesNewRomanPS-BoldMT;
	font-weight: 700;
	text-align: center;
	white-space: nowrap;
	line-height: 3.39vw;
}

.text_28 {
	width: 8.29vw;
	height: 1.15vw;
	overflow-wrap: break-word;
	color: rgba(255, 255, 255, 1);
	font-size: 1.56vw;
	font-family: TimesNewRomanPS-BoldMT;
	font-weight: 700;
	text-align: left;
	white-space: nowrap;
	line-height: 3.39vw;
}

.text_29 {
	width: 8.29vw;
	height: 1.15vw;
	overflow-wrap: break-word;
	color: rgba(21, 25, 60, 1);
	font-size: 1.56vw;
	font-family: TimesNewRomanPS-BoldMT;
	font-weight: 700;
	text-align: left;
	white-space: nowrap;
	line-height: 3.39vw;
}

.text_30 {
	width: 8.29vw;
	height: 1.15vw;
	overflow-wrap: break-word;
	color: rgba(236, 0, 0, 1);
	font-size: 1.56vw;
	font-family: TimesNewRomanPS-BoldMT;
	font-weight: 700;
	text-align: left;
	white-space: nowrap;
	line-height: 3.39vw;
}

.text-wrapper_12 {
	width: 18.86vw;
	height: 3.03vw;
	overflow-wrap: break-word;
	font-size: 0;
	font-family: TimesNewRomanPS-BoldMT;
	font-weight: 700;
	text-align: left;
	line-height: 2.14vw;
	margin-top: 1.46vw;
}

.paragraph_6 {
	width: 18.86vw;
	height: 3.03vw;
	overflow-wrap: break-word;
	color: rgba(255, 255, 255, 1);
	font-size: 0.93vw;
	font-family: TimesNewRomanPS-BoldMT;
	font-weight: 700;
	text-align: left;
	line-height: 2.14vw;
}

.text_31 {
	width: 18.86vw;
	height: 3.03vw;
	overflow-wrap: break-word;
	color: rgba(255, 255, 255, 1);
	font-size: 0.93vw;
	font-family: TimesNewRomanPSMT;
	font-weight: normal;
	text-align: left;
	line-height: 2.14vw;
}

.image-wrapper_2 {
	width: 1.1vw;
	height: 7.14vw;
	margin-left: 6.05vw;
}

.label_1 {
	width: 1.1vw;
	height: 1.67vw;
}

.label_2 {
	width: 1.1vw;
	height: 1.62vw;
	margin-top: 3.86vw;
}

.text-group_1 {
	width: 18.91vw;
	height: 6.41vw;
	margin: 0.1vw 0 0 1.61vw;
}

.paragraph_7 {
	width: 18.91vw;
	height: 3.91vw;
	overflow-wrap: break-word;
	color: rgba(255, 255, 255, 1);
	font-size: 0.93vw;
	font-family: TimesNewRomanPSMT;
	font-weight: normal;
	text-align: left;
	line-height: 1.52vw;
}

.text_32 {
	width: 8.7vw;
	height: 0.73vw;
	overflow-wrap: break-word;
	color: rgba(255, 255, 255, 1);
	font-size: 0.93vw;
	font-family: TimesNewRomanPS-BoldMT;
	font-weight: 700;
	text-align: left;
	white-space: nowrap;
	line-height: 2.3vw;
	margin: 1.77vw 0 0 0.15vw;
}

.text-wrapper_13 {
	width: 10.16vw;
	height: 0.89vw;
	margin: 0.57vw 0 0 57.6vw;
}

.text_33 {
	width: 10.16vw;
	height: 0.89vw;
	overflow-wrap: break-word;
	color: rgba(255, 255, 255, 1);
	font-size: 1.25vw;
	font-family: TimesNewRomanPS-BoldMT;
	font-weight: 700;
	text-align: left;
	white-space: nowrap;
	line-height: 2.3vw;
}

.text-wrapper_14 {
	width: 26.31vw;
	height: 0.89vw;
	margin: 3.75vw 0 1.45vw 37.76vw;
}

.text_34 {
	width: 26.31vw;
	height: 0.89vw;
	overflow-wrap: break-word;
	color: rgba(121, 121, 121, 1);
	font-size: 0.93vw;
	font-family: TimesNewRomanPSMT;
	font-weight: normal;
	text-align: center;
	white-space: nowrap;
	line-height: 1.57vw;
}
